#jinja2: trim_blocks: True, lstrip_blocks: True
{% if node_pic is defined and node_pic|length %}
# {{ ansible_managed }}

{%   if node_rules is defined and node_rules|length %}
groups:
{{ node_rules | to_nice_yaml | indent(2, true) }}
{%   endif %}
{% endif %}
